*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: rgb(122, 56, 10);
    margin: 20px;
}
.container{
height: 50%;
width:30%;
background-color:burlywood;
 display: flex;
 flex-direction: column;
 padding: 20px;
 margin: auto;
 border-radius: 25px;
 justify-content: center;
 align-items: center;
}
.input{
overflow: hidden;
width: 80%;
font-size: 20px;
padding: 14px;
border: none;
border-radius: 10px;
margin: auto;
overflow: hidden;

}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
     width: 80px;
  height: 50px;
  font-size: 20px;
  background-color:rgb(6, 87, 87);
  color: white;
}
.red{
    color: rgb(99, 9, 9);
}

@media (max-width: 1240px) and (orientation: portrait) {

    .container{
    width: 90%;
    padding: 15px;
  }
    button{
        width: 10px;
        height: 10px;
    }
    .input{
        margin: 0;
        width:80%;
    
    }
    .btns{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

button{
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: rgb(6, 87, 87);
  color: white;
  border: none;
  border-radius: 10px;
}

}